/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
}

:root,
html {
  --dark-blue: #040b22;
  --blue: #2046b8;
  --light-blue: #4374cb;
  --lighter-blue: #65a1dd;
  --yellow: #f1e467;
  --green: #94de79;
  --red: #b83c51;
}

html {
}

body {
  background-color: var(--dark-blue);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
